.likedList {
  background: url("https://pbs.twimg.com/media/EW7zB9JWsAAG4AV.jpg:large")
    no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  height: auto;
}

.liked_contend {
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.likedList_empty_title {
  color: white;
  font-size: 56px;
  font-weight: 700;
  padding-top: 30vh;
}

@media all and (max-width: 1080px) {
  .likedList {
    height: auto;
  }

  .liked_contend {
    height: auto;
  }
}
